{% extends "base.html" %}
{% block head %}
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>
      <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
     <script type="text/javascript" src="{{ static_url("js/gmaps.js")}}"></script> 
     <script type="text/javascript" src="{{ static_url("js/route.js")}}"></script>
     <script type="text/javascript" src="{{ static_url("js/race_create.js")}}"></script>
{% end %}    
{% block body %}
  <style>
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
        #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <div class="row main" >
  <div class="container-fluid">
    <div class="span5 pull-left" id="race_info">
              <form action="{{ request.path }}" method="post" class="compose">
              <div ><input name="title" type="text" class="title" value="{{ race['title'] if race else "Race name..." }}"/></div>
              <input id="_waypoints" type="hidden" name="wp" value=""/>
              <div ><textarea name="desc" rows="10" cols="10" class="markdown">{{ race['desc'] if race else "race description" }}</textarea></div>
              <div ><input type="checkbox" name="started" value="{{ race['started'] if race else "" }}">Started<br></div>
              <div >
                <input type="submit" value="{{ _("Save changes") if race else _("Create Race") }}" class="btn btn-success "/>
              </div>
                
              {% if race %}
                <input type="hidden" name="id" value="{{ str(race['_id']) }}"/>
              {% end %}
              {% module xsrf_form_html() %}
            </form>          
            <div id="route">
                  <table class="table table-striped table-bordered">
                     <caption>Route description</caption>
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Bearing</th>
                        <th>Nm</th>
                        <th>Lat</th>
                        <th>Lon</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>

                  </table>    
              </div>
    </div>
     
    <div class="span10 map" style="height:600px" id="basic_map"></div>
    </div>
</div>


<script type="text/javascript">
  var map;
  var route;
  var None = undefined
  var loaded_marks = {{marks}}
  
  $(document).ready(function(){
   map = new GMaps({
    div: '#basic_map',
    lat:   59.445075,
    lng:  10.250244,
    zoom: 12,
    zoomControl : true,
    zoomControlOpt: {
        style : 'SMALL',
        position: 'TOP_RIGHT'
    },
    panControl : false,
  });

   route_line_options = {
     strokeColor: '#FF0000',
     strokeOpacity: 1.0,
     strokeWeight: 3
   }
   initialize()
   route.onRouteChange = updateRoute;

   if (loaded_marks != undefined){
       for (i = 0; i< loaded_marks.length; i++){
          m = loaded_marks[i]
          route.addWayPoint(new google.maps.LatLng(m.lat,m.lng))
       }
       map.panTo(new google.maps.LatLng(loaded_marks[0].lat,loaded_marks[0].lng) )
   }
   
  });


function deleteMark(index){
  if( index > 0 ){
    route.line.getPath().removeAt(index -1)  
    updateRoute()
  }
}


function updateRoute(){
    r = route.createRoute();
    $('#route table tbody').empty();
    $('#_waypoints').empty()

    var way_points = []
    $.each(r, function(index,value){
       $('#route table tbody').append("<tr id='wp_" +$("#route tr").length +"' ><td><a>"+value.name+"</a></td><td>"+ num(value.bearing)+"</td><td>"+num(value.distance/1000 / 0.539957 )+"</td><td>"+ num(value.latLng.lat(),3)+"</td><td>"+num(value.latLng.lng(),3)+"</td> <td><a class='btn btn-danger'  onClick='deleteMark( " +$("#route tr").length +"  )' ><i class='icon-remove icon-white'></i></a></td></tr>");
        way_points.push(value)
    });

   $("#route tr").click(function(){
      if(this.rowIndex > 0){
        r = route.createRoute();
        w = r[this.rowIndex -1]
        map.panTo(w.latLng)  
      }
    });



    $('#_waypoints').val(JSON.stringify(way_points));
}
</script>


  
{% end %}

