{% extends "base.html" %}


{% block head %}
     <script type="text/javascript" src="http://www.google.com/jsapi?autoload={'modules':[{name:'maps',version:3,other_params:'sensor=true'}]}"></script>
          <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
     <script type="text/javascript" src="{{ static_url("js/gmaps.js")}}"></script> 
     <script type="text/javascript" src="{{ static_url("js/route.js")}}"></script>
     <script type="text/javascript" src="{{ static_url("js/race_create.js")}}"></script>
{% end %}    

{% block body %}

  <style>
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
        #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <div class="row main" >
  <div class="container-fluid">
    <div class="span5 pull-left" id="race_info">
        <form action="{{ request.path }}" method="post" class="compose">
              <div ><input name="title" type="text" class="title" value="{{ race.title if race else "race name..." }}"/></div>
              <div ><textarea name="desc" rows="10" cols="10" class="markdown">{{ race.desc if race else "race description" }}</textarea></div>
              <div ><input type="checkbox" name="started" value="{{ race.stared if race else "" }}">Started<br></div>

              <div >
                <input type="submit" value="{{ _("Save changes") if race else _("Create Race") }}" class="btn btn-success "/>
              </div>
              {% if race %}
                <input type="hidden" name="_id" value="{{ race._id }}"/>
              {% end %}
              {% module xsrf_form_html() %}
            </form>
<div id="route">
                  <table class="table .table-striped">
                  </table>    
              </div>
    </div>
     
    <div class="span10 map" style="height:600px" id="basic_map">

    </div>
    </div>
</div>


<script type="text/javascript">
  var map;
  var route;
  
  $(document).ready(function(){
   map = new GMaps({
    div: '#basic_map',
    lat:   59.445075,
    lng:  10.250244,
    zoom: 9,
    zoomControl : true,
    zoomControlOpt: {
        style : 'SMALL',
        position: 'TOP_RIGHT'
    },
    panControl : false,
  });

   // Sortable init
   $( "#sortable" ).sortable();
   $( "#sortable").disableSelection();
    

   route_line_options = {
     strokeColor: '#FF0000',
     strokeOpacity: 1.0,
     strokeWeight: 3
   }
   initialize()

  
  });

function updateRoute(){
    r = route.createRoute();
    $('#route table').empty();
    
   jQuery.each(r, function(index,value){
       $('#route table').append("<tr><td>" + value.toString() + "</td></tr>");
   });

}

   


</script>


  
{% end %}

