{% extends "base.html" %}

{% block head %}
     <script type="text/javascript" src="{{ static_url("js/display.js")}}"></script>
     <script type="text/javascript" src="{{ static_url("js/competitor.js")}}"></script>
     <script type="text/javascript" src="{{ static_url("js/socket.js")}}"></script>
     <script type="text/javascript" src="http://www.google.com/jsapi?autoload={'modules':[{name:'maps',version:3,other_params:'sensor=true'}]}"></script>
     <script type="text/javascript" src="{{ static_url("js/gmaps.js")}}"></script>
{% end %}    

{% block body %}
<style type="text/css">
  .map{
    border: 1px solid #e3e3e3; 
  }
  
</style>

<script type="text/javascript">
  var map;
  var sock;
  var raceId= '{% raw str(race['_id']) %}'
  {% from settings import settings %}
  var marks = {{marks}}
  var server_address = '{{"%s:%s" % (settings['server'],settings['port']) }}'


  $(document).ready(function(){
   map = new GMaps({
    div: '#basic_map',
    lat:   59.445075,
    lng:  10.250244,
    zoom: 9,
    zoomControl : true,
    zoomControlOpt: {
        style : 'SMALL',
        position: 'TOP_RIGHT'
    },
    panControl : false,
  });
 
  loadMarks();
  socketConnection();
});

function loadMarks(){
  if (marks != undefined){
    for(i = 0; i< marks.length; i++){
      
      console.log(marks[i])

      var marker = new google.maps.Marker({
      position: new google.maps.LatLng(marks[i].lat,marks[i].lng),
      title: marks[i].name,
      map: map.map
    })
  }
}
}

</script>

<div class="row main" >
    <div class="container-fluid">
    <p><h3>&nbsp;&nbsp; {{escape(race['title']) }}</h3></p>
    <div class="span10 pull-left map" style="height:800px" id="basic_map">
    
    </div>
    <div class="span6 display" >
      <table id='display-table' class="table table-bordered display">
        <thead>
          <tr>
            <th>Båt</th>
            <th>Seil Nr</th>
            <th>Skipper</th>
            <th>Fart</th>
            <th>Vmg</th>
            <th>Kurs</th>
            <th>Merke</th>
            <th>Avstand Merke</th>
        </tr>
        </thead>
        <tbody id='display' >
        </tbody>
      </table>
    </div>
  </div>
</div>

{% end %}





